---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">



  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>

{%- assign a =  page.path | split: '/' -%}
{%- assign number =  a.size | minus: 2 -%}
{%- assign folder = a[number]  -%}

{%- capture featured_image_exists_png -%}{%- file_exists _posts/blog/{{ page.date | date: "%Y"}}/{{ folder }}/featured-image.png -%}{%- endcapture -%}
{%- capture featured_image_exists_jpg -%}{%- file_exists _posts/blog/{{ page.date | date: "%Y"}}/{{ folder }}/featured-image.jpg -%}{%- endcapture -%}

{%- if featured_image_exists_png == "true" -%}
<p><img src="{{ page.url | prepend: site.baseurl }}featured-image.png"></p>
{%- endif -%}
        {%- if featured_image_exists_jpg == "true" -%}
<p><img src="{{ page.url | prepend: site.baseurl }}featured-image.jpg"></p>
{%- endif -%}

  </header>

  <div class="post-content e-content" itemprop="articleBody">
      {%- if page.related-id -%}
      {%- include related-articles.html related-id=page.related-id -%}
      {%- endif -%}

    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <hr>
  {%- if page.update -%}
  <p>Статья обновлена <b>{{page.update}}</b></p>
  {%- endif -%}

  <hr>
  {%- if page.demo -%}
  <p><a href="{{page.demo}}">Демо</a></p>
  {%- endif -%}

  <hr>
  {%- if page.link -%}
  <p><a href="{{page.link}}">Ссылка на проект</a></p>
  {%- endif -%}

  <hr>
  {%- if page.download -%}
  <p><a href="{{page.download}}">Скачать</a></p>
  {%- endif -%}

  <hr>
  {%- if page.updated -%}
  <p>Статья обновлена: {{page.updated}}</p>
  {%- endif -%}

  <hr>
  {%- if page.game-applicability -%}
  <p>Применимость: {{page.game-applicability}}</p>
  {%- endif -%}
  <hr>
  {%- if page.game-required -%}
  <p>Что требуется: {{page.game-required}}</p>
  {%- endif -%}
  <hr>
  {%- if page.game-how-many-people -%}
  <p>На сколько людей рассчитано: {{page.game-how-many-people}}</p>
  {%- endif -%}
  <hr>
  {%- if page.game-mobility -%}
  <p>Подвижность: {{page.game-mobility}}</p>
  {%- endif -%}
  <hr>
  {%- if page.game-place -%}
  <p>Место проведения: {{page.game-place}}</p>
  {%- endif -%}

  <hr>

  <p>Тэги:</p>

  <ul>
    {%- for tags in page.tags -%}
      <li>{{ tags }}</li>
    {%- endfor -%}
  </ul>

  <hr>

  <p>Категории:</p>

  <ul>
    {%- for categories in page.categories -%}
      <li>{{ categories }}</li>
    {%- endfor -%}
  </ul>

  <hr>

  <p>{{ page.excerpt }}</p>

  <hr>

  <p>{{ page.content | strip | newline_to_br | split:'<br />' | first }}</p>

  <hr>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
