---
layout: default
permalink: /en/
title: Blog on English
pagination:
  enabled: true
  category: blog
  locale: en
  per_page: 20
  permalink: '/page/:num/'
  title: ' - page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
---

<div class="home">

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>

  <ul class="post-list">
      {%- assign category = 'blog'  -%}
      {%- assign posts = site.categories[category] | where: "locale", "en" -%}
    {%- for post in paginator.posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

{%- assign a =  post.path | split: '/' -%}
{%- assign number =  a.size | minus: 2 -%}
{%- assign folder = a[number]  -%}

{%- capture featured_image_exists_png -%}{%- file_exists _posts/blog/{{ post.date | date: "%Y"}}/{{ folder }}/featured-image.png -%}{%- endcapture -%}
{%- capture featured_image_exists_jpg -%}{%- file_exists _posts/blog/{{ post.date | date: "%Y"}}/{{ folder }}/featured-image.jpg -%}{%- endcapture -%}

<h3>
  <a class="post-link" href="{{ post.url | relative_url }}">
    {{ post.title | escape }}
  </a>
</h3>
<p>***</p>
{%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
<p>***</p>

        {%- if featured_image_exists_png == "true" -%}
<p><img src="{{ post.url | prepend: site.baseurl }}featured-image.png"></p>
{%- endif -%}
        {%- if featured_image_exists_jpg == "true" -%}
<p><img src="{{ post.url | prepend: site.baseurl }}featured-image.jpg"></p>
{%- endif -%}
<p>+++</p>
<p>{{ post.content | strip | newline_to_br | split:'<br />' | first }}</p>
<p>+++</p>
        <p>filename = {{ folder }}</p>
      </li>
    {%- endfor -%}
  </ul>

    <!--
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
  {%- if paginator.total_pages > 1 -%}
  <ul class="pager">
      {%- if paginator.previous_page -%}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      </li>
      {%- endif -%}
      {%- if paginator.next_page -%}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      </li>
      {%- endif -%}
  </ul>
  {%- endif -%}


  {% if paginator.total_pages > 1 %}
  <div class="wj-pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="active">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="/">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/'  | replace: 'page:num', 'en/page/:num' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
